In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\ksaville\anaconda3\lib\site-packages (2.8.6)

In [2]:
#store crime json data into DataFram

crimes_df = pd.read_json("data/cpd-incidents.json")

#crimes_df.head()

In [3]:

crimes_df = crimes_df[["id","year","crimeday", "crime_type", "lat", "lon"]]
#crimes_df.head()

In [4]:
#drop na values 
crimes_df = crimes_df.dropna()
#crime_df.info()
#convert year from float to int.
crimes_df['year'] = crimes_df['year'].apply(np.int64)
#crimes_df.info()
crimes_df.head()

         id  year  crimeday               crime_type        lat        lon
0   7005486  2007    FRIDAY  SIMPLE PHYSICAL ASSAULT  35.786132 -78.773909
1   8006568  2008    FRIDAY  SIMPLE PHYSICAL ASSAULT  35.786829 -78.779065
2   8006859  2008    SUNDAY  SIMPLE PHYSICAL ASSAULT  35.786907 -78.777110
3  10002912  2010  THURSDAY  SIMPLE PHYSICAL ASSAULT  35.787349 -78.769781
4  10004137  2010    FRIDAY  SIMPLE PHYSICAL ASSAULT  35.786851 -78.776334

In [5]:
import sqlite3 as sql
import pandas as pd
import matplotlib.pyplot as plt

from sqlalchemy import create_engine

In [6]:
engine = create_engine('sqlite:///crime_reports.sqlite', echo=True)
sqlite_connection = engine.connect()

2021-04-06 20:58:59,553 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-04-06 20:58:59,556 INFO sqlalchemy.engine.base.Engine ()
2021-04-06 20:58:59,557 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-04-06 20:58:59,559 INFO sqlalchemy.engine.base.Engine ()

In [7]:

crimes_df.to_sql("crimes_SQLDB", sqlite_connection, if_exists='fail')

2021-04-06 20:58:59,630 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("crimes_SQLDB")
2021-04-06 20:58:59,631 INFO sqlalchemy.engine.base.Engine ()
2021-04-06 20:58:59,632 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("crimes_SQLDB")
2021-04-06 20:58:59,633 INFO sqlalchemy.engine.base.Engine ()
2021-04-06 20:58:59,636 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "crimes_SQLDB" (
	"index" BIGINT,
	id BIGINT,
	year BIGINT,
	crimeday TEXT,
	crime_type TEXT,
	lat FLOAT,
	lon FLOAT
)


2021-04-06 20:58:59,637 INFO sqlalchemy.engine.base.Engine ()
2021-04-06 20:58:59,650 INFO sqlalchemy.engine.base.Engine COMMIT
2021-04-06 20:58:59,653 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_crimes_SQLDB_index" ON "crimes_SQLDB" ("index")
2021-04-06 20:58:59,654 INFO sqlalchemy.engine.base.Engine ()
2021-04-06 20:58:59,670 INFO sqlalchemy.engine.base.Engine COMMIT
2021-04-06 20:58:59,718 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-04-06 20:59:00,326 INFO sqlalchemy.engine.base.Engine INSERT INTO "crimes_SQLDB" ("index", id, year, crimeday, crime_type, lat, lon) VALUES (?, ?, ?, ?, ?, ?, ?)
2021-04-06 20:59:00,327 INFO sqlalchemy.engine.base.Engine ((0, 7005486, 2007, 'FRIDAY', 'SIMPLE PHYSICAL ASSAULT', 35.786131949, -78.77390894), (1, 8006568, 2008, 'FRIDAY', 'SIMPLE PHYSICAL ASSAULT', 35.786828592, -78.77906539), (2, 8006859, 2008, 'SUNDAY', 'SIMPLE PHYSICAL ASSAULT', 35.786907256, -78.77710955), (3, 10002912, 2010, 'THURSDAY', 'SIMPLE PHYSICAL ASSAULT', 35.7873485, -78.76978144), (4, 10004137, 2010, 'FRIDAY', 'SIMPLE PHYSICAL ASSAULT', 35.786850889, -78.7763342), (5, 10005184, 2010, 'SUNDAY', 'SIMPLE PHYSICAL ASSAULT', 35.787586804, -78.77343242), (6, 1000214, 2001, 'SATURDAY', 'SIMPLE PHYSICAL ASSAULT', 35.773850825, -78.75931174), (7, 1000755, 2001, 'THURSDAY', 'SIMPLE PHYSICAL ASSAULT', 35.776361339, -78.76466468)  ... displaying 10 of 96759 total bound parameter sets ...  (102831, 12008053, 2012, 'THURSDAY', 'LARCENY - FROM MOTOR VEHICLE', 35.795269192, -78.835559), (102832, 17001479, 2017, 'SATURDAY', 'LARCENY - FROM MOTOR VEHICLE', 35.792853965, -78.8372162))
2021-04-06 20:59:00,739 INFO sqlalchemy.engine.base.Engine COMMIT
2021-04-06 20:59:01,094 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-04-06 20:59:01,095 INFO sqlalchemy.engine.base.Engine ()

In [8]:
#sqlite_connection.close()